@font-face {
  font-family: "8145";
  font-display: swap;
  src: url("../fonts/8145.woff") format("woff"), url("../fonts/8145.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.75;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "8145";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px !important;
}

.header {
  background-image: url("../img/header/bg.png");
  height: 100vh;
  background-position: center top;
  background-size: cover;
  background-color: #000206;
}

.h1 {
  color: #fff;
  font-size: 60px;
  line-height: 0.9;
  white-space: nowrap;
}

.color-text {
  color: #ffc600;
}

.nav {
  margin-top: 50px;
}

.header__list-item {
  display: inline-block;
  margin-right: 28px;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__list-link {
  padding: 3px;
  border-bottom: 1px solid transparent;
  color: #ffc600;
  font-size: 18px;
}

.header__list-link:hover {
  border-bottom: 1px solid #ffc600;
  color: #fff;
}

/* about */

.about {
  margin-top: 35px;
}

.about__top {
  margin-bottom: 60px;
}

.about__subline {
  color: #717171;
  font-size: 30px;
}

.about__subline span {
  font-size: 50px;
}

.h2 {
  font-size: 80px;
  line-height: 0.8;
  position: relative;
  display: inline-block;
  padding: 5px;
  margin-left: 95px;
}

.h2::after {
  content: "";
  width: 55%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: #c5c5c5;
}

.text-wrapper {
  position: relative;
  padding-left: 20px;
}

.text-wrapper::before {
  content: "";
  height: 80%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 1px;
  background-color: #c5c5c5;
  position: absolute;
}

.text-title {
  color: black;
  margin-bottom: 15px;
  font-size: 16px;
}

.text {
  color: #717171;
  font-size: 14px;
}

.about__bottom {
  text-align: center;
}

.about__ico {
  margin-bottom: 25px;
}

.about__bottom-title {
  font-size: 18px;
  color: black;
  margin-bottom: 15px;
}

.about__bottom-text {
  font-size: 10px;
  max-width: 240px;
  margin: 0 auto;
}

.about__bottom-text p {
  margin-bottom: 15px;
}

.about__bottom-text p:last-child {
  margin-bottom: 0;
}

/* about */

/* projects */

.projects {
  margin-top: 90px;
}

.h3 {
  font-size: 30px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.h3::after {
  content: "";
  width: 55%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: #c5c5c5;
}

.upper {
  font-size: 50px;
}

.projects__nav {
  margin-bottom: 20px;
  overflow: hidden;
  height: 30px;
}

.projects__list {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.projects__list-item {
  margin-left: 35px;
  padding-bottom: 20px;
}

.projects__list-item:first-child {
  margin-left: 0;
}

.projects__list-link {
  position: relative;
  white-space: nowrap;
}

.projects__list-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: #ffc600;
}

.projects__list-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: transparent;
}

.game-img {
  background-color: #101010;
  width: 100%;
}

.game-img picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.game-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/* projects */

@media (max-width: 992px) {
  .about__top {
    margin-bottom: 30px;
  }

  .h2 {
    margin-left: 0;
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .about__bottom-text {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .h1 {
    font-size: 45px;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 35px;
  }

  .header__list-item {
    display: block;
    margin-right: 0;
  }
}

.webp .header { background-image: url(../img/header/bg.webp); }